<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzontal.tella_locking_ui">

    <application>
        <activity
            android:name=".ui.settings.LockTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pattern.PatternSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".ui.pattern.PatternUnlockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".ui.pattern.PatternSetConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".ui.settings.UnlockRedirectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.pin.SetPinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.pin.ConfirmPinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.password.SetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".ui.password.ConfirmPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".ui.password.PasswordUnlockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".ui.ConfirmCredentialsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.pin.PinUnlockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.SuccessUpdateDialog"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>